.donations-history {
    padding: 20px;
  
    h2 {
      margin-bottom: 20px;
      color: #333;
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .mat-elevation-z8 {
      overflow: auto;
    }
  
    table {
      width: 100%;
    }
  
    th.mat-sort-header-sorted {
      color: black;
    }
  
    .mat-column-details {
      width: 80px;
      text-align: center;
    }
  
    .mat-chip-list {
      display: inline-block;
    }
  }